@charset "utf-8";
/* CSS Document */

/* White Font -----------------------------------------------------------*/

	.White_N13_FFF {
		background:url(../images/main_tap_normal.png) center;
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:13px;
		font-style:normal;
		font-weight:normal;
		line-height:56px;
		color:#FFF;
		}
	.White_B12_FFF {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#FFF;
		}
	.White_B11_FFF {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#FFF;
		}
	.White_N11_FFF_H17 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:17px;
		color:#FFF;
		}
	.White_N12_FFF {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:normal;
		line-height:normal;
		color:#FFF;
		}
	.White_N11_FFF {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:38px;
		color:#FFF;
		}
		
/* Orange Font -----------------------------------------------------------*/
	
	.Orange_B12_f78206 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#f78206;
		}
	.Orange_B11_f78206 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#f78206;
		}
	.Orange_N11_f78206_H17 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:17px;
		color:#f78206;
		}
	.Orange_N12_f78206 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:normal;
		line-height:38px;
		text-decoration:none;
		color:#f78206;
		}
		
/* Blue Font -----------------------------------------------------------*/


	.Blue_B13_61718c {
		background:url(../images/main_tap_ov.png) center;
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:13px;
		font-style:normal;
		font-weight:bold;
		line-height:56px;
		color:#61718c;
		}
	.Blue_N13_61718c {
		background:url(../images/main_tap_ov.png) center;
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:13px;
		font-style:normal;
		font-weight:normal;
		line-height:56px;
		color:#61718c;
		}
	.Blue_B12_61718c {
		background:url(../images/main_tap_ov.png) center;
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:56px;
		color:#61718c;
		}
	.Blue_B12_61718c_normal {
		background:none;
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:nomal;
		color:#61718c;
		}
	.Blue_N11_61718c_H20 {
		background: none;
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:20px;
		color:#61718c;
		}
	.Blue_B12_1d7acc {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#1d7acc;
		}
	.Blue_B11_1d7acc {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#1d7acc;
		}
	.Blue_N11_1d7acc_H17 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:17px;;
		color:#1d7acc;
		}
	.Blue_N12_3b9ebd {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#3b9ebd;
		}
	.Blue_N11_3b9ebd {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#3b9ebd;
		}
	.Blue_B11_3b9ebd_H30 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:Bold;
		line-height:30px;
		color:#3b9ebd;
		}
	.Blue_N12_9898a3 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:38px;
		text-decoration:none;
		color:#9898a3;
		}
	
		
/* Green Font -----------------------------------------------------------*/

	.Green_B12_53973d {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#53973d;
		}
	.Green_B11_53973d {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#53973d;
		}
	.Green_N11_53973d_H17 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:normal;
		line-height:17px;
		color:#53973d;
		}
	.Green_N12_53973d {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#53973d;
		}
	.Green_N11_53973d {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#53973d;
		}
		
/* Gray Font -----------------------------------------------------------*/

	.Gray_B12_636363 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#636363;
		}
	.Gray_B11_636363 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#636363;
		}
	.Gray_B11_636363_H30 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:30px;
		color:#636363;
		}
	.Gray_N12_636363 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#636363;
		}

	.Gray_N12_308dcc {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#308dcc;
		}

	.Gray_N12_308dcc_b {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#308dcc;
		font-weight: bold;
		}



	.Gray_N11_636363 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#636363;
		}
	.Gray_N11_555555 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:18px;
		color:#555555;
		text-align:center;
		}
	
/* BlueGray Font -----------------------------------------------------------*/

	.BlueGray_B12_98a4b8 {
		font-family: Dotum, Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#98a4b8;
		}
	.BlueGray_B11_98a4b8 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#98a4b8;
		}
	.BlueGray_N12_98a4b8 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#98a4b8;
		}
	.BlueGray_N11_98a4b8 {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#98a4b8;
		}
		
/* Blue Font -----------------------------------------------------------*/

	.Blue_B12_61718c {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#61718c;
		}
	.Blue_B11_61718c {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:bold;
		line-height:normal;
		color:#61718c;
		}
	.Blue_N12_61718c {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:12px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#61718c;
		}
	.Blue_N11_61718c {
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#61718c;
		}


.balnk_N12_00{ 
		font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
		font-size:11px;
		font-style:normal;
		font-weight:100;
		line-height:normal;
		color:#000000; 
		}
	


/* headline ---------------------------------------------------------*/

H1 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:26px;
	color:#706c75;
}

H2 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:24px;
	color:#706c75;
}

H3 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:22px;
	color:#706c75;
}

H4 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:20px;
	color:#706c75;
}

H5 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:18px;
	color:#706c75;
}

H6 {
	font-family: Geneva, Verdana, 'NanumGothicWeb', sans-serif;
	font-style:normal;
	font-weight:100;
	line-height:16px;
	color:#706c75;
}
